* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "rubik", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  outline: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
h1{
  font-family: "expletus-sans";
}

h2{
  font-family: "expletus-sans";
  font-size: 36px;
}

@font-face {
  font-family: "expletus-sans";
  src:url("./../../assets/fonts/expletussans.ttf")
    format("woff");
  font-weight: 100 900;
  font-stretch: 50% 100%;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src:url("./../../assets/fonts/rubik.ttf")
    format("woff");
  font-weight: 100 900;
  font-stretch: 50% 100%;
  font-style: normal;
}
