.navbar {
  height: 92px;
  width: 80%;
  padding: 0 25px;
  align-items: center;
  margin-top: 20px;
}

.nav-logo {
  padding: 3px;
  height: 100%;
}

.nav-links {
  gap: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 40px;
  list-style: none;
}

.nav-links > li:hover {
  opacity: 0.7;
}

.logo {
  width: 200px;
}
.wave-bg {
  background-image: url(./../assets/images/wave.png);
  background-size: cover;
}

.hero-section {
  margin-bottom: 150px ;
}

.hero-text {
  width: 50%;
  text-align: left;
  justify-content: center;
  font-size: 18px;
  gap: 20px;
}
.hero-text > h1 {
  font-size: 50px;
}

.hero-img {
  width: 40%;
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
}

.expertise {
  background-color: lightgray;
  height: 200px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: "expletus-sans";
  padding: 20px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  transition: 0.5s;
}
.expertise:hover{
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  transform: scale(1.1);
  transition: 0.5s;
}

.expertise1 {
  grid-column: span 2;
}

.expertise2 {
  grid-column: span 2;
}

.expertise3 {
  grid-row: span 2;
}

.expertise4 {
  grid-column: span 2;
  grid-row: span 2;
}

.expertise6 {
  grid-column: span 2;
  grid-row: span 2;
}
